<div class="container cont-icons">
  <div class="bottom-icons">
    <%= link_to "", dashboard_path, class: "fa-solid fa-house fa-2x px-3" %>
    <%= link_to "", events_path, class: "fa-solid fa-calendar-days fa-2x px-3"  %>
    <%= link_to "", new_event_path, class: "fa-solid fa-circle-plus fa-2x px-3 central" %>
    <%= link_to "", edit_user_registration_path, class: "fa-solid fa-user-large fa-2x px-3" %>
    <%= link_to "", destroy_user_session_path, data: {turbo_method: :delete}, class: "fa-solid fa-arrow-right-from-bracket fa-2x px-3"  %>
  </div>
</div>
