<div class="container2 margin-bottom-80">
  <div class='sticky-head-events'>
    <div class='d-flex justify-content-around align-items-center mb-4'>
      <%= link_to events_path(date: @date - 1.month, category: params[:category]) do  %>
        <h5> <small> <i class="fa-solid fa-arrow-left-long"></i> </small> <%= l((@date - 1.month), format: "%b").capitalize %></h5>
    <% end %>
    <h3><strong><%= l(@date, format: "%^B") %></strong> <small><%= if @date.year != @year then l(@date, format: "%y") end %></small></h3>
    <%= link_to events_path(date: @date + 1.month, category: params[:category]) do %>
      <h5><%= l((@date + 1.month), format: "%b").capitalize %> <small> <i class="fa-solid fa-arrow-right"></i> </small></h5>
    <% end  %>
  </div>



    <div class='d-flex justify-content-around mb-3' data-controller="category" >
      <div data-action="click->category#choose_sport">
        <%= link_to events_path(date: @date, category: (params[:category] == "Sport" ? nil : "Sport")) do %>
          <i class="align-middle fa-solid <%= if params[:category] == "Sport" then 'fa-2x' else 'fa-xl' end %> fa-volleyball <%= if params[:category] == "Culture" || params[:category] == "Voyage" || params[:category] == "Autres" then 'grey-color' else 'sport-color' end %>" data-category-target="sport"></i>
        <% end %>
      </div>
      <div data-action="click->category#choose_culture">
        <%= link_to events_path(date: @date, category: (params[:category] == "Culture" ? nil : "Culture")) do %>
          <i class="align-middle fa-solid <%= if params[:category] == "Culture" then 'fa-2x' else 'fa-xl' end %> fa-book <%= if params[:category] == "Sport" || params[:category] == "Voyage" || params[:category] == "Autres" then 'grey-color' else 'culture-color' end %>" data-category-target="culture"></i>
        <% end %>
      </div>
      <div data-action="click->category#choose_voyage">
        <%= link_to events_path(date: @date, category: (params[:category] == "Voyage" ? nil : "Voyage")) do %>
          <i class="align-middle fa-solid <%= if params[:category] == "Voyage" then 'fa-2x' else 'fa-xl' end %> fa-plane-departure <%= if params[:category] == "Sport" || params[:category] == "Culture" || params[:category] == "Autres" then 'grey-color' else 'voyage-color' end %>" data-category-target="voyage"></i>
        <% end %>
      </div>
      <div data-action="click->category#choose_autres">
        <%= link_to events_path(date: @date, category: (params[:category] == "Autres" ? nil : "Autres")) do %>
          <i class="align-middle fa-solid <%= if params[:category] == "Autres" then 'fa-2x' else 'fa-xl' end %> fa-star-of-life <%= if params[:category] == "Sport" || params[:category] == "Culture" || params[:category] == "Voyage" then 'grey-color' else 'autres-color' end %>" data-category-target="autres"></i>
        <% end %>
      </div>
    </div>
  </div>

  <% if @events.length > 0 %>
    <% date = @events.first.starts_at.strftime("%d") %>
    <div class="border1 ps-3 ms-1 border-grey">
      <% @events.each do |event| %>
        <% if event.starts_at != nil && @date.strftime("%B") == event.starts_at.strftime("%B")  %>
          <ul>
            <div <%= 'data-controller=scroll-on-connect' if @next_event == event %>>
                <%= link_to event_path(event) do %>
                  <div class="event-planning-container">
                    <% if event.starts_at.strftime("%d") != date %>
                      <% date = event.starts_at.strftime("%d") %>
                      <div class='event-day'>
                        <div class="bullet">●</div><li><%= l((event.starts_at), format: ("%a")).capitalize %> <%= event.starts_at.day %></li>
                      </div>
                    <% elsif event == @events.first %>
                      <div class='event-day'>
                        <div class="bullet">●</div><li><%= l((event.starts_at), format: ("%a")).capitalize %> <%= event.starts_at.day %></li>
                      </div>
                    <% end %>
                    <div></div>
                    <div class='event-info-wrapper <%=event.category%>'>
                      <div class='event-info d-flex' >
                        <div class='overflow-info'>
                          <strong><%= event.title %></strong>
                          <div>
                            <small>
                              <span><%= truncate(event.venue, length: 25) %></span> - <span><%= l((event.starts_at), format: ("%k:%M")) %></span>
                            </small>
                          </div>
                        </div>
                        <div class='icone-doc'><%= image_tag('componentssvg/icone-doc.svg') %></div>
                      </div>
                    </div>
                  </div>
                <% end %>
            </div>
          </ul>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
