

<div class="container mt-5">
  <div class='d-flex justify-content-around align-items-center mb-5'>

    <%= link_to events_path(date: @date - 1.month) do  %>
      <h5> <small> <i class="fa-solid fa-arrow-left-long"></i> </small> <%= (@date - 1.month).strftime("%b") %></h5>
    <% end %>
    <h3><strong><%= @date.strftime("%^B") %></strong></h3>
    <%= link_to events_path(date: @date + 1.month) do %>
      <h5><%= (@date + 1.month).strftime("%b") %> <small> <i class="fa-solid fa-arrow-right"></i> </small></h5>
    <% end  %>

  </div>

  <% date = @events.first.starts_at.strftime("%d") %>
  <% @events.each do |event| %>
    <% if @date.strftime("%B") == event.starts_at.strftime("%B") %>
      <ul>
        <div class="">
          <div class=''><%= link_to event_path(event) do %>
              <div class="event-planning-container">
                <% if event.starts_at.strftime("%d") != date %>
                <% date = event.starts_at.strftime("%d") %>
                  <div class='event-day'>
                    <li><%= event.starts_at.strftime("%a") %> <%= event.starts_at.day %> </li>
                  </div>
                <% elsif event == @events.first %>
                  <div class='event-day'>
                    <li><%= event.starts_at.strftime("%a") %> <%= event.starts_at.day %>  </li>
                  </div>
                <% end %>
                <div></div>
                <div class='event-info-wrapper <%=event.category%>'>
                  <div class='event-info d-flex' >
                    <div class='overflow-info'><strong><%= event.title %></strong> <small> - <%= event.venue %></small></div>
                    <div class='see-event-info'><i class="fa-solid fa-eye"></i></div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </ul>
    <% end %>
  <% end %>
</div>
