<div class="container my-5">


  <div class='d-flex justify-content-around'>
    <h3> <i class="fa-solid fa-arrow-left-long"></i> May</h3>
    <h3><strong>June</strong></h3>
    <h3>July <i class="fa-solid fa-arrow-right"></i> </h3>
  </div>


  <%= link_to "Add event", new_event_path, class: 'btn-add-event'%>
  <% @events.each do |event| %>
    <ul>
      <div class="">
        <div class=''><%= link_to event_path(event) do %>
            <div class="event-planning-container">
              <div class='event-day'>
                <li><%= event.starts_at.day %></li>
              </div>
              <div class='event-info <%=event.category%>' >
                <li><strong><%= event.title %></strong> <small> - <%= event.venue %></small></li>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </ul>
  <% end %>
</div>
