<div class="container my-5">
  <h2 class='mb-5'>This page shows the details of 1 event</h2>

  <%= @event.title %>
  <%= @event.venue %>
  <%= @event.address %>
  <%= @event.category %>


  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</div>
