<div class="container show flex-grow-1 margin-bottom-80">

  <div class='<%= (@event.title.length > 20) ? 'defiler' : 'regular-title'  %>'>
    <div><%= @event.title %></div>
  </div>

  <div class="event-date-cont">
    <li class='date-cont'><%= @event.starts_at.strftime("%d %b")%></li>
    <li class='date-cont'><%= @event.starts_at.strftime("%l:%M %p")%></li>
  </div>
  <div class="event-info-show">

    <li><strong><%= @event.venue %></strong></li>
    <li><%= @event.address %></li>
  </div>


  <div style="width: 100%; height: 300px; border-radius: 30px; "
  data-controller="map"
  data-map-marker-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  class="my-3"></div>

  <!-- Button trigger modal -->
  <button type="button" class="btn-see-pdf" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Voir PDF
  </button>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down">
      <div class="modal-content">
        <div class="modal-body" style>
          <embed src="<%= cl_image_path @event.document.key%>" type="" height="400">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-see-pdf" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
