<div class="container my-5 margin-bottom-80">

  <h2 class='h2-center'><%= @events.first.starts_at.strftime("%A %_d %B %Y") %>
  </h2>

  <div class="card-trip">
    <%= image_tag "event_demo_day.jpg" %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @events.first.title %></h2>
        <p><%= @events.first.venue %></p>
      </div>
      <div>
        <p><%= @events.first.starts_at.strftime("%l:%M") %></p>
      </div>
    </div>
  </div>
  <div class="qr_cont">
    <%= image_tag "qr_code.png", class:"qrcode" %>
  </div>



</div>
