
<div class=''><%= link_to event_path(@events.first) do %>
    <div class="event-planning-container">
      <div class='event-day'>
        <li><%= @events.first.starts_at.day %></li>
      </div>
      <div class='event-info <%=@events.first.category%>' >
        <li><strong><%= @events.first.title %></strong> <small> - <%= @events.first.venue %></small></li>
      </div>
    </div>
  <% end %>
</div>
